
/* Fichier CSS pour les graphs généré pour le fichier docx*/

.default-color0.series { -fx-background-color: white; }
.default-color1.serieSecond { -fx-background-color: white; }

/* Change la couleur des courbes et fixe l'epaisseur */
.default-color0.chart-series-line {
    -fx-stroke: #328fe1;
    -fx-stroke-width: 1px;
 }

.default-color1.chart-series-line {
    -fx-stroke: #e90d3f;
    -fx-stroke-width: 1px;
 }

/* Change la couleur des icones de la legende pour correspondre à celle des courbes */
.default-color0.chart-line-symbol { -fx-background-color: #328fe1; }
.default-color1.chart-line-symbol { -fx-background-color: #e90d3f; }

