.series {
    -fx-stroke-width: 2px;
    -fx-effect: null;
-fx-stroke: #f0e68c;
-fx-background-color: #f0e68c, white;
}

.serieSecond {
    -fx-stroke-width: 2px;
    -fx-effect: null;
-fx-stroke: #f0e68c;
-fx-background-color: #f0e68c, white;
}



.default-color0.series { -fx-stroke: #e9967a; }
.default-color1.serieSecond{ -fx-stroke: #f0e68c; }
.default-color2.serieSecond { -fx-stroke: #dda0dd; }

.default-color0.series { -fx-background-color: #dda0dd, white; }
.default-color1.serieSecond { -fx-background-color: #dda0dd, white; }
.default-color2.chart-line-symbol { -fx-background-color: #dda0dd, white; }

.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: brown; }