html, body, * 
{
    margin: 0;
    padding: 0;
}

body 
{
    width:1200px;
    height:720px;
    margin:auto;
    position:relative;
    background-color: #d8f5f3; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
}

::selection {
  color: #FFFFFF;
  background-color: #34495e;
}



.boutonVert
{
    padding: 9px 19px;
    border-radius: 3px;
    margin-left: 3%;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    color: white;
    font-size: 16px;
    background-color:#2ecc71;
    display:inline-block;
    cursor:pointer;
    transition: all 0.3s ease;
}

.boutonVert:hover
{
    background-color: rgba(46, 204, 113, 0.69);
}



.boutonGris
{
    padding: 9px 19px;
    border-radius: 3px;
    margin-left: 3%;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    color: white;
    font-size: 16px;
    background-color:#b1b1b1;
    display:inline-block;
    cursor:pointer;
    transition: all 0.3s ease;
}

.boutonGris:hover
{
    background-color: rgba(177, 177, 177, 0.81);
}

.boutonTurquoise
{
    padding: 9px 19px;
    border-radius: 3px;
    margin-left: 3%;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    color: white;
    font-size: 16px;
    background-color:#19bea7;
    display:inline-block;
    cursor:pointer;
    transition: all 0.3s ease;
}

.boutonTurquoise:hover
{
    background-color: rgba(25, 190, 167, 0.67);
}

.boutonRouge
{
    transition: all 0.3s ease;
}

.boutonRouge:hover
{
    background-color:rgba(233, 13, 63, 0.84) !important;
}

a
{
    text-decoration:none;
}









/********************************
**** STRUCTURE PRINCIPALE********
********************************/


#baseStructTop
{
    height:100px;
    width:100%;
}

#baseStructContent
{
    width:100%;
    background-color:#ecf0f1;
    display:table;
}

.baseStructLeft
{
    height:100%;
    width:150px;
    text-transform: uppercase;
    float:left;
}

#baseStructContent .baseStructLeft
{
    height:620px;
}

.baseStructRight
{
    height:100%;
    width:1050px;
    float:right;
}

 #baseStructTop:after, #baseStructContent:after
{
    content:'';
    visibility:hidden;
    clear:both;
    display:block;
}







/********************************
**** STRUCTURE TOP **************
********************************/

#baseStructContent .baseStructRight
{
    width:990px;    
    height: 560px;
    overflow-y: scroll;
    position:relative;
}

#baseStructTop #logo
{
    background-color:#2ecc71;
    color:white;
    display: inline-block;
}

#baseStructTop #logo a
{
    text-decoration: none;
}

#baseStructTop #logo p
{
    position: relative;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color:white;
    padding-top: 23px;
}

#baseStructTop #logo p img
{
    width:120px;
}

#baseStructTop #topMenu
{
    background-color:white;
    color:black;
}

#topMenu a
{
    color:white;
}

#topMenu ul 
{
    width:84%;
    display:inline-block;
    position: relative;
    top: 30px;
}

#topMenu ul li
{
    display:inline-block;
}



#topMenu #drapeaux 
{
    width:12%;
    display:inline-block;
    
    position: relative;
    top: 30px;
}

   
#topMenu #drapeaux div
{
    display:inline-block;
    margin-right:12%;
}
   
#topMenu #drapeaux div img
{
    cursor:pointer;
}



/********************************
**** MENU PRINCIPAL *************
********************************/




#menu
{
    background-color:#34495e;
}

#menu ul
{
   margin-top:30px;
}

#menu ul li
{
    padding-top:10px;
    padding-bottom:15px;
    list-style: none;
    font-size:12px;
    margin-bottom:20px;
}

#menu ul li img
{
    margin-left:15px;
    margin-right:10px;
    position:relative;
    top:5px;
}
#menu ul li a
{
    color:#b1b1b1;
    text-decoration:none;
}

#menu ul li.active
{
    background-color: #243342;
}




/********************************
**** CONTENU ********************
********************************/

#contenu
{
    padding: 30px 30px;
}

#top-content
{
    border-bottom:1px solid #ddd;
    padding-bottom:20px;
}

#top-content h1
{
    color: #333;
    font-size: 23px;
    font-weight: lighter;
    float:left;
    text-transform: uppercase;
    width: 672px;
}

#top-content #recherches
{
    float:left;
}

#top-content #reinitialiserListeSites
{
    float:left;
    width: 2%;
    height: 25px;
    font-size: 18px;
    padding: 3px 8px 5px 10px;
    position: relative;
    top: 0px;
    background-image: url(../img/reload.png);
    background-size: 71%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

#top-content .erreurSearchSite
{
    color:#e90d3f;
    clear: both;
    float: right;
    margin-top: 7px;
    font-size: 13px;
    display:none;
}

#top-content:after
{
    display:block;
    visibility:hidden;
    content:'';
    clear:both;
}




/****************************
**** INDEX.HTML ****************
****************************/


::-webkit-input-placeholder 
{
  color: #bbb;
    font-style: italic;
}

/*:-moz-placeholder
{
  color: #bbb;
}

::-moz-placeholder 
{
  color: #bbb;
}

:-ms-input-placeholder
{
  color: #bbb !important;
}*/

.fieldcontainer 
{
  position: relative;
}

#search2btn:hover, #search2btn:focus 
{
	filter: alpha(opacity=90);
	opacity: 0.9;  
}

#search2btn 
{
    position: absolute;
    right: 12px;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    cursor: pointer;
    filter: alpha(opacity=65);
    opacity: 0.65;
    background: transparent url(../img/search.png) top left no-repeat;
    background-size: cover;
}

.searchfieldjs 
{ 
    display: block;
   padding: 6px 5px;
   background-color: #fff;
    border: none;
    color: #ccc;
    font-size: 18px;
    border-bottom-color: #d2e2e7;
}


#listeSites
{
    width:100%;
    margin-bottom: 50px;
}

#listeSites #infoConnexion
{
    color:#e90d3f;
    margin-top:20px;
}

#listeSites ul li
{
    display:inline-block;
    width:29%;
    list-style:none;
    background-color: white;
    margin-top: 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    display: inline-table;
}

#listeSites ul li
{
    margin-right: 3.5%;
}

#listeSites ul li > img
{
    width:98%;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
}

#listeSites .infoSite:after
{
    clear:both;
    display:block;
    visibility:hidden;
    content:'';
}

#listeSites .infoSite
{
    padding: 2% 0;
}

#listeSites .infoSiteLeft
{
    width: 75%;
    float: left;
    padding:0% 0 0% 5%;
    
}

#listeSites .infoSiteLeft h3
{
    color: #333;
    font-size:15px;
    margin-bottom:6px;
}

#listeSites .infoSiteLeft p
{
    color: #b1b1b1;
    font-size:12px;
}

#listeSites .infoSiteLeft span:nth-child(2)
{
    color: #2ecc71;
}

#listeSites .infoSiteRight
{
    width:20%;
    float:right;
}


#listeSites .infoSiteRight img
{
    width: 40px;
    height:auto;
    margin-left: 25%;
}


#listeSites .boutonConnexion
{
    border-top: 1px solid #ddd;
}

#listeSites .boutonConnexion p
{
    text-align:center;
    color: #b1b1b1;
    font-weight:bold;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
}


#nouveauSite 
{
    text-align:right;
}

#nouveauSite p
{
    display:inline-block;
    position:relative;
    left:-5%;
}



#listeSites .formConnexion
{
   display:none;
}

#listeSites ::-webkit-input-placeholder 
{
  color: #bbb;
  font-style: italic;
}

#listeSites :-moz-placeholder
{
  color: #bbb;
  font-style: italic;
}

#listeSites ::-moz-placeholder 
{
  color: #bbb;
  font-style: italic;
}

#listeSites :-ms-input-placeholder
{
  color: #bbb !important;
  font-style: italic;  
}

#listeSites .fieldcontainer 
{
  position: relative;
}

#listeSites  #search2btn:hover, #listeSites #search2btn:focus 
{
	filter: alpha(opacity=90);
	opacity: 0.9;  
}

#listeSites #search2btn 
{
    display:inline-block;
    
    position: absolute;
    right: 2%;
    top: 17%;
    height: 29px;
    width: 29px;
    border: 0;
    cursor: pointer;
    filter: alpha(opacity=65);
    opacity: 1;
    background: transparent url(../img/accueil/connexion.png) top left no-repeat;
    background-size: cover;
}

#listeSites .searchfieldjs 
{ 
  display: inline-block;
    padding: 0;
    background-color: #fff;
    border: none;
    color: #ccc;
    font-size: 18px;
    border-right: 1px solid #d2e2e7;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left:5%;
}



.overlay-importZip 
{
    display: none;
    width: 400px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 34%;
    background-color: white;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
}



.overlay-importZip .overlay-title 
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

div.overlay-importZipContent
{
    padding-left: 40px;
    padding-right: 40px;
    
}

div.overlay-importZipContent p 
{
    margin-bottom: 10px;
    
}

div.overlay-importZipContent p.boutonGris
{
    margin-bottom: 10px;
    display:inline-block;
    
}

div.overlay-importZipContent input[type="file"]
{
    margin-bottom: 20px;
    border: none;
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    position: relative;
    font-size: 16px;
    padding: 0;
}

div.overlay-importZipContent input[type="password"],
div.overlay-importZipContent input[type="textarea"]
{
    margin-bottom: 20px;
    border: none;
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    position: relative;
    font-size: 17px;
    padding: 6px 5px;
    width: 295px;
}

div.overlay-importZipContent input[type="submit"]
{
      border: none;
    margin-left: 50px;
}

 div.overlay-importZipContent #overlay-importZipBottom
{
    margin-left: 40px;
}


/****************************
**** NOUVEAU SITE ***********
****************************/


#nouveauSiteContent
{
    background-color:white;
    padding:20px;
}


#nouveauSiteTop:after
{
    display:block;
    visibility:hidden;
    clear:both;
    content:'';
}

#nouveauSiteTop #nouveauSiteTopLeft
{
    float:left;
    width:55%;
    margin-right:3%;
}

#nouveauSiteTop #nouveauSiteTopRight
{
    float:right;
    width:42%;
}

#nouveauSiteContent form input
{
    margin-bottom:25px;
    border-bottom:#757575 1px solid;
    width:100%;
    cursor:text;
}



#nouveauSiteTopRight img
{
    width: 80%;
    cursor: pointer;
    margin-left: 0px;
}

#nouveauSiteContent form input
{
    margin-bottom:25px;
    border-bottom:#757575 1px solid;
    width:100%;
    color:black;
    margin-top: 6px;
}

input:focus
{
    outline-color:#2ecc71;
}

#nouveauSiteNouveauExploitant
{
    margin-top:20px;
}

#nouveauSiteNouveauExploitant:after
{
    content:'';
    visibility: hidden;
    display:block;
    clear:both;
}

#nouveauSiteNouveauExploitantLeft
{
    width:70%;
    float:left;
}

#nouveauSiteNouveauExploitantLeft #choix_exploitant
{
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 18px;
    margin-bottom: 19px;
    margin-top: 7px;
    height: 32px;

}

#nouveauSiteNouveauExploitantLeft #choix_exploitant option:focus
{
    width: 120%;

}



#nouveauSiteNouveauExploitantRight
{
    width:28%;
    float:right;
}


#nouveauSiteNouveauExploitantRight p
{
    display:inline-block;
    cursor:pointer;
    position: relative;
    top: 20px;
}

#ajoutSite .mdpInvalide
{
    display:none;
    margin-top: -21px;
    margin-bottom: 20px;
    color: #e90d3f;
    font-size: 14px;
}



#nouvelExploitant
{
    display:none;
    background-color:#dbfce9;
    padding:20px 30px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 25px;
}

#nouvelExploitant:after
{
    content:'';
    display:block;
    clear:both;
    visibility:hidden;
}

#nouvelExploitant #nouvelExploitantLeft
{
    float:left;
    width:40%;
}

#nouvelExploitant #nouvelExploitantLeft img
{
    max-width:100%;
    border: 1px solid rgba(58, 58, 58, 0.66);
}

#nouvelExploitant #nouvelExploitantLeft img:hover
{
    opacity: 0.7;
    cursor:pointer;
}

#nouvelExploitant #nouvelExploitantLeft > input
{
    /*display:none;*/
    margin-top:10px;
}

#nouvelExploitant #nouvelExploitantLeft #file-input-nE6
{
    width: 88%;
    margin-top: 20px;
}




#nouvelExploitant #nouvelExploitantRight
{
    float:right;
    width:50%;
}

#nouvelExploitant #nouvelExploitantRight .mailInvalide
{
    display:none;
    margin-top: -21px;
    margin-bottom: 20px;
    color: #e90d3f;
    font-size: 14px;
}


#nouvelExploitant #nouvelExploitantRight input
{
    background-color:#dbfce9;
}

#nouveauSiteContent form input[type="submit"]
{
    width:200px;
    color:white;
    margin-left:0;
    cursor: pointer;
}


#nouvelExploitant #nouvelExploitantRight input[type="submit"]
{
    background-color:#2ecc71;
    color:white;
    display:inline-block;
    margin-left:0px;
    width:100%;
}

 p.erreurChampsVide
{
    color: #e90d3f;
    display: none;
    margin-top: -15px;
    font-size: 14px;
}

 p.enregistrementEffectue
{
    color: #2ecc71;
    display: none;
    margin-top: -15px;
    font-size: 14px;
}



.overlay-nouvelExploitant 
{
    display: none;
    width:750px;
    position:fixed;
    margin:auto;
    top:125px;
    left:25%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    border-radius: 25px 25px 0px 0px;
}

.overlay-nouvelExploitant > p
{
   color: white;
    background-color: #e90d3f;
    border-radius: 25px 25px 0px 0px;
    /* height: 30px; */
    text-align: center;
    padding: 10px;
    font-size: 17px;
    
}


.overlay-nouvelExploitant #nouvelExploitant
{
    display: block;
    background-color:white;
    padding: 20px 30px;

    margin-bottom: 0;
    color: black;

}

.overlay-nouvelExploitant #nouvelExploitant .boutonGris
{
    top: 80px;
    position: relative;
    left: 144px;
}
.overlay-nouvelExploitant #nouvelExploitant input 
{
    background-color: white !important;
    width:85%;
        margin-bottom: 25px;
    border-bottom: #757575 1px solid;
    color: black;
    margin-top: 6px;
}

.overlay-nouvelExploitant #nouvelExploitant  input[type="submit"] {
    background-color: #2ecc71 !important;
    color: white;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
}


/****************************
**** CAVITE SITE ***********
****************************/


#baseStructContent .baseStructRightCavite
{
    width: 1050px;
    height: 620px;
    overflow-y: scroll;
}


#caviteSite
{
    padding: 30px 30px;
    background-color:white;
    position:relative;
    min-height: 560px;
}

#contenuCaviteSite #caviteSiteMap img
{
    width:100%;
}

#caviteStyleTop:after
{
    display:block;
    content:'';
    visibility:hidden;
    clear:both;
}

#caviteSite #caviteSiteMap 
{
    margin-bottom:15px;
}

#caviteSite #choixCavite 
{
    margin-top:25px;
}

#caviteStyleTop #caviteStyleTopLogo
{
    float:left;
    width: 12%;
}

#caviteStyleTop #caviteStyleTopLogo img
{
    width: 100%;
}

#caviteStyleTop #caviteStyleTopTitre
{
    float:left;
    position: relative;
    top: 22px;
   /* width: 820px;*/
    
    width: 63%;
}

#caviteStyleTop #caviteStyleTopBouton
{
    float:left;
    width: 19%;
}

#caviteStyleTop #caviteStyleTopBouton p
{
    margin-top: 15px;
    width: 162px;
    text-align: center;
}

#caviteStyleTop #caviteStyleTopTitre h1
{
    color:#2ecc71;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 25px;
    width:90%;
    display:inline-block;
    margin:0;
    text-transform: uppercase;
    margin-left:50px;
}



#caviteStyleTop #caviteStyleTopDates:after
{
    display:block;
    visibility:hidden;
    clear:both;
    content:'';
}



#caviteStyleTop #caviteStyleTopDates
{
    margin-left:50px;
    margin-top:20px;
}



#caviteStyleTop #caviteStyleTopTitre p
{
    float:left;
    width:40%;
}

#caviteStyleTop #caviteStyleTopTitre p:nth-child(2)
{
    width:33%;
}

#caviteStyleTop #caviteStyleTopTitre p#validateDateCavite
{
    width:2%;
    font-size: 18px;
    padding: 3px 14px 6px 10px;
    position: relative;
    top: -5px;
}

#caviteStyleTop #caviteStyleTopTitre p#reloadDateCavite
{
    width: 2%;
    height: 25px;
    font-size: 18px;
    padding: 3px 14px 6px 10px;
    position: relative;
    top: -5px;
    background-image: url(../img/reload.png);
    background-size: 71%;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}




#caviteStyleTop #sectionCalageTitre ::-webkit-input-placeholder 
{
  color: white;
}



#caviteSite input 
{
    margin-bottom: 25px;
    /*border-bottom: #757575 1px solid;*/
    /*width: 100%;*/
   /* color: black;*/
    margin-top: 6px;
}

#nouvelleCavite input,
#ListeInfoChoixCavite input,
#modifierCavite input
{
    border-bottom: #757575 1px solid;
}


#choixCavite:after
{
    content:'';
    display:block;
    visibility:hidden;
    clear:both;
}

#choixCavite #choixCaviteLeft
{
   width:67%; 
    float:left;
}

#choixCavite #choixCaviteRight
{
    width:25%;
    float:right;
    position:relative;
    top:22px;
}

#choixCavite #choixCaviteRight
{
    width:31%;
    float:right;
    position:relative;
    top:22px;
    cursor:pointer;
}

#choixCavite #choixCaviteRight p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 20px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    margin-left: 10px;
}




#choixCavite #choix_cavite
{
    width: 100%;
    border-bottom: 1px solid #757575 ;
    margin-bottom: 25px;
    color:#2ecc71;
}






#ListeInfoChoixCavite
{
    width:100%;
}

#ListeInfoChoixCavite .infoChoixCavite
{
    width:23%;
    display:inline-block;
}

#ListeInfoChoixCavite .infoChoixCavite + .infoChoixCavite 
{
    margin-left: 2.09%;
}

#ListeInfoChoixCavite input
{
    color:#2ecc71;
}



#graphesCavite:after,
#graphesCaviteLigne1:after,
#graphesCaviteLigne2:after
{
    content:'';
    visibility:hidden;
    display:block;
    clear:both;
}

#caviteSite h3,
#graphesCaviteLigne1 h3,
#graphesCaviteLigne2 h3
{
    color:#2ecc71;
    margin-bottom:20px;
    margin-top:40px;
    font-weight: lighter;
    font-size: 24px;
}


#graphesCavite #graphesCaviteLeft,
#graphesCaviteLigne1 #graphesCaviteLigne1Left,
#graphesCaviteLigne2 #graphesCaviteLigne2Left
{
   width:45%;
    float:left;
}

#graphesCavite #graphesCaviteRight,
#graphesCaviteLigne1 #graphesCaviteLigne1Right,
#graphesCaviteLigne2 #graphesCaviteLigne2Right
{
   width:45%;
    float:right;
}

#graphesCaviteLigne1 #graphesCaviteLigne1Left .canvasjs-chart-canvas,
#graphesCaviteLigne1 #graphesCaviteLigne1Right .canvasjs-chart-canvas,
#graphesCaviteLigne2 #graphesCaviteLigne2Left .canvasjs-chart-canvas,
#graphesCaviteLigne2 #graphesCaviteLigne2Right .canvasjs-chart-canvas,
#graphesCavite #graphesCaviteLeft .canvasjs-chart-canvas,
#graphesCavite #graphesCaviteRight .canvasjs-chart-canvas,
#graphesCaviteBas .canvasjs-chart-canvas
{
    cursor:pointer !important;
}



#caviteSite #grapheTemperature,
#caviteSite #grapheVolume,
#caviteSite #graphePression,
#caviteSite #graphePressionCasingShoe,
#caviteSite #grapheTemperatureCasingShoe,
#caviteSite #graphePressionCaverne,
#caviteSite #grapheTemperatureCaverne
{
    width:100%; 
    border-left:1px solid #b1b1b1;
    border-right:1px solid #b1b1b1;
}

#caviteSite #grapheTemperature img,
#caviteSite #grapheVolume img,
#caviteSite #graphePression img,
#caviteSite #grapheTemperatureCasingShoe img,
#caviteSite #graphePressionCasingShoe img,
#caviteSite #graphePressionCaverne img,
#caviteSite #grapheTemperatureCaverne img
{
    width:100%;
   
}

#caviteSite #grapheTemperature:hover,
#caviteSite #grapheVolume:hover,
#caviteSite #graphePression:hover,
#caviteSite #grapheTemperatureCasingShoe:hover,
#caviteSite #graphePressionCasingShoe:hover,
#caviteSite #grapheTemperatureCaverne:hover,
#caviteSite #graphePressionCaverne:hover
{
    box-shadow: 1px 0px 24px rgba(46, 204, 113, 0.55);
}

#caviteMenuBottom
{
    margin-top:50px;
}
    
#caviteMenuBottom p
{
    text-transform: none;
    margin-left:0px;
    font-size:15px;
    padding: 6px 11px;
}


#caviteMenuBottom a:nth-child(2)
{
    margin-left:30px;
}

#caviteMenuBottom p:nth-child(3)
{
    margin-left: 340px;
    padding: 9px 47px;
}

#nouvelleCavite
{
    background-color: #dbfce9;
    padding: 20px 30px 45px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 25px;
    display:none;
}

#nouvelleCavite form input 
{
    width:100%;
    background-color:#dbfce9;
}

#nouvelleCavite #remplirInfoCavite
{
    width: 100%;
}


#nouvelleCavite #remplirInfoCavite .infoCavite
{
    width: 23%;
    display:inline-block;
}


#nouvelleCavite #remplirInfoCavite .infoCavite + .infoCavite
{
    margin-left:1%;
}

#nouvelleCavite input[type="submit"]
{
    background-color:#2ecc71;
    color:white;
    width:30%;
    margin:auto;
}

#nouvelleCavite p.caviteErreurChamps,
#nouvelleCavite p.caviteErreurNom
{
    color:#e90d3f;
    display:none;   
    margin-top:20px;
}

#modifierCavite
{
    background-color: #dbfce9;
    padding: 20px 30px 45px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 25px;
    display:none;
}

#modifierCavite form input 
{
    width:100%;
    background-color:#dbfce9;
}

#modifierCavite #remplirInfoCavite
{
    width: 100%;
}


#modifierCavite #remplirInfoCavite .infoCavite
{
    width: 23%;
    display:inline-block;
}


#modifierCavite #remplirInfoCavite .infoCavite + .infoCavite
{
    margin-left:1%;
}

#modifierCavite input[type="submit"]
{
    background-color:#2ecc71;
    color:white;
    width:30%;
    margin:auto;
}

#modifierCavite p.caviteErreurChamps,
#modifierCavite p.caviteErreurNom
{
    color:#e90d3f;
    display:none;   
    margin-top:20px;
}



#caviteSite div#supressionCavite 
{
    text-align:right;
    padding-right:30px;
    margin-top:60px;
}


#caviteSite div#supressionCavite p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 140px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    margin-left: 18px;
}


#caviteSite div#supressionCavite p.boutonGris
{
    margin-right: 10px;
}



 div.overlay-suppressionSite,
 div.overlay-modificationMdp,
 div.overlay-suppressionCavite
{
    display: none;
    width:350px;
    position:fixed;
    margin:auto;
    top:300px;
    left:39%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom:20px;
}

 div.overlay-modificationSite
{
    display: none;
     width: 800px;
    position: fixed;
    margin: auto;
    top: 150px;
    left: 17%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom:20px;
}

div.overlay-mail
{
    display: none;
    width:350px;
    position:fixed;
    margin:auto;
    top:170px;
    left:39%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom:20px;
}

div.overlay-genererRapport
{
    display: none;
    width:350px;
    position:fixed;
    margin:auto;
    top:240px;
    left:39%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom:20px;
}



div.overlay-exportSite,
div.overlay-exportExploitant,
div.overlay-exportCavite
{
    display: none;
    width:450px;
    position:fixed;
    margin:auto;
    top:300px;
    left:35%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom:20px;
}

div.overlay-exportExploitant p
{
    margin-left:30px;
}

div.overlay-suppressionSite .overlay-title,
div.overlay-modificationMdp .overlay-title,
div.overlay-suppressionCavite .overlay-title,
div.overlay-exportSite .overlay-title,
div.overlay-exportExploitant .overlay-title,
div.overlay-exportCavite .overlay-title,
div.overlay-modificationSite .overlay-title,
div.overlay-mail .overlay-title,
div.overlay-genererRapport .overlay-title
{
    background-color: #e90d3f;
    color:white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom:25px;
    margin-left:0px;
}

div.overlay-suppressionSite label,
div.overlay-modificationMdp label,
div.overlay-suppressionCavite label,
div.overlay-exportSite label,
div.overlay-exportExploitant label,
div.overlay-exportCavite label,
div.overlay-modificationSite label,
div.overlay-mail label
{
    margin-left:10px;
}

div.overlay-mail label span:last-child
{
    font-size:12px;
    font-style: italic;
    padding-left:15px;
}

div.overlay-suppressionSite input,
div.overlay-modificationMdp input,
div.overlay-suppressionCavite input,
div.overlay-exportSite input,
div.overlay-exportExploitant input,
div.overlay-exportCavite input,
div.overlay-mail input
{
    margin-left:10px;
    margin-top:5px;
    width: 215px !important;
    border: none;
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    position: relative;
    font-size: 17px;
    padding-left: 5px;
}

div.overlay-mail input#mailCavite
{
    width:90% !important;
}


div.overlay-suppressionCavite #suppressionCaviteBottom
{
    margin-top: 20px;
    margin-left: 0px;
}

div.overlay-suppressionSite #modifMdpSiteBottom,
div.overlay-exportSite #exportSiteBottom,
div.overlay-exportExploitant #exportExploitantBottom,
div.overlay-exportCavite #exportCaviteBottom
{
    margin-top: 20px;
    margin-left: 50px;
}

div.overlay-modificationMdp #modifMdpSiteBottom
{
    margin-top: 20px;
    margin-left: 15px;
}


div.overlay-suppressionSite #modifMdpSiteBottom .boutonVert,
div.overlay-modificationMdp #modifMdpSiteBottom .boutonVert,
div.overlay-suppressionCavite #suppressionCaviteBottom .boutonVert,
div.overlay-exportSite #exportSiteBottom .boutonVert,
div.overlay-exportExploitant #exportExploitantBottom .boutonVert,
div.overlay-exportCavite #exportCaviteBottom .boutonVert
{
    margin-left:35px;
}

div.overlay-suppressionSite #modifMdpSiteBottom p + p,
div.overlay-modificationMdp #modifMdpSiteBottom  p + p,
div.overlay-suppressionCavite #suppressionCaviteBottom  p + p,
div.overlay-exportSite #exportSiteBottom  p + p,
div.overlay-exportExploitant #exportExploitantBottom  p + p,
div.overlay-exportCavite #exportCaviteBottom  p + p
{
    margin-left:35px;
}


div.overlay-suppressionSite .erreurSupression,
div.overlay-suppressionSite .erreurMdp,
div.overlay-modificationMdp .erreurModification,
div.overlay-suppressionCavite .erreurSupressionCav,
div.overlay-suppressionCavite .erreurMdpCav,
div.overlay-exportSite .erreurExport,
div.overlay-exportExploitant .erreurExport,
div.overlay-exportCavite .erreurExport

{
    margin-left: 12px;
    display: none;
    font-size: 13px;
    margin-top: 10px;
    color: #e90d3f;
}


div.overlay-mail .overlay-mailContentCavite p
{
    padding-left:15px;
}

div.overlay-mail .overlay-mailContentCavite > p:nth-child(2)
{
    margin-top:10px;
}

div.overlay-mail .listeCaviteMail
{
    margin-top:5px;
    height: 113px;
    overflow-y: scroll;
}

div.overlay-mail .listeCaviteMail input
{
    margin-bottom: 5px !important;
    width:inherit !important;
}

div.overlay-mail #overlayMailBottom
{
    margin-top:15px;
    margin-left: 50px;
}

div.overlay-mail .succesMail
{
    margin-left:25px;
    font-size:13px;
    margin-top:15px;
    display:none;
}

div.overlay-mail .erreurMail
{
    margin-left:25px;
    margin-top:15px;
    display:none;
    color: #e90d3f;
    font-size: 13px;
}

div.overlay-mail .erreurMailAucuneCavite
{
    margin-left:25px;
    margin-top:15px;
    display:none;
    color: #e90d3f;
    font-size: 13px;
}


#caviteSiteBottom
{
    text-align: right;
    margin-top:20px;
}


 div.overlay-modificationSite #nouveauSiteTopLeft
{
    width: 48%;
    margin-left:30px;
}

 div.overlay-modificationSite #nouveauSiteTopLeft label
{
    font-size:15px;
}

 div.overlay-modificationSite input
{
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    font-size: 16px;
    width: 90%;
}

 div.overlay-modificationSite #nouveauSiteTop #nouveauSiteTopLeft 
{
    width: 42%;
}
 div.overlay-modificationSite #nouveauSiteTop #nouveauSiteTopRight 
{
    float: right;
    width: 48.5%;
}

 div.overlay-modificationSite #nouveauSiteTop input#file-input-mS5
{
    width: 272px
}


 div.overlay-modificationSite #modificationSiteBottom
{
    text-align: center;
    margin-top: 5px;
}

 div.overlay-modificationSite #modificationSiteBottom p.boutonVert
{
    margin-right: 25px;
}

div.overlay-genererRapport .overlay-genererRapportContent
{
    padding-left: 20px;
}

div.overlay-genererRapport .overlay-genererRapportContent input
{
    width: 120px;
    border: none;
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    position: relative;
    font-size: 17px;
    padding-left: 5px;
}

div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(2) input,
div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(3) input,
div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(4) input
{
    width:20px;
    position:relative;
    top: 2px;
    margin-right:5px;
}

div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(2),
div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(3),
div.overlay-genererRapport .overlay-genererRapportContent p:nth-child(4)
{
    font-size:14px;
}


div.overlay-genererRapport #overlayGenererRapportBottom
{
    margin-left:46px;
}

div.overlay-genererRapport #overlayGenererRapportBottom
{
    margin-left:57px;
}

div.overlay-genererRapport .overlayGenererRapportErreurDonnees,
div.overlay-genererRapport .erreurDate,
div.overlay-genererRapport .erreurGeneration
{
    margin-left: 21px;
    font-size: 14px;
    margin-top: 13px;
    color: #e90d3f;
    display:none;
}



/********************************
**** Graphe Temp, Vol, Pres *****
********************************/



#caviteSiteGraphe 
{
        padding: 30px 30px;
    background-color: white;
    position:relative;
}

#caviteSiteGraphe div.titreGraphe
{
        width:100%;
    margin-bottom:15px;
}


#caviteSiteGraphe h3 {
    color: #2ecc71;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 24px;
    width:86%;
    display:inline-block;
}

#caviteSiteGraphe .grapheRetour {
    width:13%;
    display:inline-block;
}

#caviteSiteGraphe .grapheRetour a
{
    color: #2ecc71;
    font-size:24px;
}

#caviteSiteGraphe .grapheRetour a span:first-child
{
    font-size: 30px;
    font-family: monospace;
}


#caviteSiteGraphe #listeInfoGraphe 
{
    margin-top: 15px;
    margin: 15px 30px 0 65px;
}

#caviteSiteGraphe #listeInfoGraphe .infoGraphe 
{
    width: 150px;
    padding-left: 10px;
}



#caviteSiteGraphe #listeInfoGraphe .infoGraphe p:first-child 
{
    font-size: 20px;
    margin-bottom: 10px;
}

#caviteSiteGraphe #listeInfoGraphe .infoGraphe p:last-child
{
    font-size: 16px;
}












/********************************
**** Gérer Données Relevées *****
********************************/


.gererDonneesRelevees #caviteStyleTop
{
    width:100%;
}

.gererDonneesRelevees #caviteStyleTopLogo
{
    width:12% !important;
}

.gererDonneesRelevees #caviteStyleTopTitre
{
    width:70% !important;
}

.gererDonneesRelevees #caviteStyleTopTitre h1
{
    width:inherit !important;
    margin-left:50px !important;
}

.gererDonneesRelevees #caviteStyleTopDates
{
    margin-top:20px;
   /* color: #b1b1b1;
    font-weight:bold;*/
}

.gererDonneesRelevees #caviteStyleTopDates:after
{
    content:'';
    clear:both;
    visibility:hidden;
    display:block;
}

.gererDonneesRelevees #caviteStyleTopDatesLeft
{
    width:40%;
    float:left !important;  
}

.gererDonneesRelevees #caviteStyleTopDatesRight
{
    width:40%;
    float:left !important;
}



#caviteStyleTop #caviteStyleTopDates input
{
    width:120px; /* 150px */
    border:none;
    border-bottom: #757575 1px solid;
    color: #b1b1b1;
    position:relative;
    font-size: 17px;
    padding-left:5px;
}


.gererDonneesRelevees #caviteStyleTopBouton
{
    width:16% !important;
    float:left;
}


.gererDonneesRelevees #caviteStyleTopBouton p.boutonGris
{
    font-size:15px;
    width:150px;
    padding:10px 0;
    text-align:center;
    margin-top:10px;
}

#pointIntention
{
    margin-top:40px;
}

#pointIntentionTitre
{
    color:#e90d3f;
    border-bottom:1px solid #e90d3f;
    width:100%;
    padding-bottom:5px;
    margin-bottom:10px;
}

#pointIntentionTitre p
{
    display:inline-block;
    width:95%;
    font-size: 23px;
}



#pointIntention ul
{
    width: 958px;
    margin-left: 15px;    
}

#pointIntention ul li
{
    list-style: url('../img/caviteSite/puceListeRouge.png');
}


#pointIntention ul li p:first-child
{
    width: 89%;
    display: inline-block;
    font-size:15px;
}

#pointIntention ul li p:last-child
{
    width:10%;
    display: inline-block;
    text-align: right;

    color: #e90d3f;
    font-weight:bold;
    text-transform: uppercase;
    font-size:13px;
}


#gestionDonneesTemp, #gestionDonneesPression
{
  /*  height:160px;
    width:100%;
    
    border:1px solid red;*/
}

#gestionDonneesBottom
{
    margin-top:30px;
}

#gestionDonneesBottom form
{
    width:405px;
    margin-top:45px;
}

#gestionDonneesBottom form input[name="importCSV5"]
{
        border: 1px solid #757575;
    
}

#gestionDonneesBottom label
{
    display: block;
    text-align: left;
    color: ;
}
#gestionDonneesBottom input[type="file"]
{
    width:235px;
}

#gestionDonneesBottom input[type="submit"]
{
    width:150px;
    color:white;
}





/*.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.5); 
    display:none;
}*/

.overlay-optionCorrectionDonnees
{
    display: none;
    width:300px;
    position:fixed;
    margin:auto;
    top:300px;
    left:45%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:1001; /*pour passer au dessus des valeurs des points du graphes */
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    border-radius: 7px 7px 0 0;
}

.overlay-optionCorrectionDonnees > p:first-child
{
    background-color: #e90d3f;
    color: white;
    padding: 25px 0px 25px 30px;
    border-radius: 7px 7px 0 0;
}

.overlay-optionCorrectionDonnees p:nth-child(2),
.overlay-optionCorrectionDonnees p:nth-child(3)
{
   background-color: white;
    padding: 20px 0 20px 30px;
    font-size: 13px;
    list-style: url();
    cursor:pointer;
}
.overlay-optionCorrectionDonnees p:nth-child(2) img,
.overlay-optionCorrectionDonnees p:nth-child(3) img
{
   margin-right:15px;
}


.overlay-optionCorrectionDonnees p:nth-child(2)
{
   border-bottom: dashed 1px black;
}



.overlay-optionCorrectionDonnees #overlay-optionCorrectionDonneesBottom
{
   text-align:right;
    
}



.overlay-optionCorrectionDonnees p.boutonGris
{
   border-bottom: dashed 1px black;
    margin-bottom: 11px;
    margin-top: 4px;
    
    border:none;
    margin-right:15px;
}


.overlay-validationCorrection
{
    display: none;
    width: 570px;
    position: fixed;
    margin: auto;
    top: 300px;
    left:27%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:1001; /*pour passer au dessus des valeurs des points du graphes */
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    border-radius: 7px 7px 0 0;
}

.overlay-validationCorrection > p:first-child
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-left: 0px;
}

.overlay-validationCorrection .overlay-validationCorrectionText
{
    padding: 20px 20px 0px 20px;
}
.overlay-validationCorrection .overlay-validationCorrectionTextDate
{
    padding-left: 20px;
    margin-top: 10px
}

.overlay-validationCorrection .overlay-validationCorrectionDate
{
    padding-left: 47px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
    max-height: 100px;
    overflow-y: scroll;
}


.overlay-validationCorrection #overlay-validationCorrectionBottom
{
    text-align:center;
    margin-bottom: 20px;
}









.overlay-correctionManuelleDonnees
{
    display: none;
    width:1110px;
    position:fixed;
    margin:auto;
    top:135px;
    left:4%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:1001; /*pour passer au dessus des valeurs des points du graphes */
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, 0.19);
}


.overlay-conflitDonnees
{
    display: none;
    width:1100px;
   /* overflow-y:scroll;*/
    position:fixed;
    margin:auto;
    top:250px;
    left:4%;
    background-color:white;
    text-align:left;
    border-radius: 5px;
    z-index:1001; /*pour passer au dessus des valeurs des points du graphes */
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.overlay-correctionManuelleDonnees table,
.overlay-conflitDonnees table
{
    border-collapse: collapse;
    width:100%;
}

.overlay-correctionManuelleDonnees table tr:first-child,
.overlay-conflitDonnees table tr:first-child
{
    border-bottom: #e1e1e1 1px solid;
}

.overlay-correctionManuelleDonnees table tr th
{
    padding:9px 10px;
    color:#757575;
    font-size: 14px;
    text-align: center;
}

.overlay-conflitDonnees table tr:first-child th
{
    border-left:1px solid #e6e6e6;
}

.overlay-conflitDonnees table tr th
{
    padding:9px 10px;
    color:#757575;
    font-size: 14px;
    text-align: center;
}

.overlay-correctionManuelleDonnees table tr td,
.overlay-conflitDonnees table tr td
{
    padding:10px;
    width: 125px;
    font-size:13px;
    color:#757575;
    text-align: center;
}

.overlay-conflitDonnees table tr:nth-child(2) th:nth-child(2n),
.overlay-conflitDonnees table tr td:nth-child(2n)
{
    border-left:1px solid #e6e6e6;
}





.overlay-correctionManuelleDonnees table td.sansDonnee p,
.overlay-conflitDonnees table td.sansDonnee p
{
    color:#e90d3f;
    cursor:pointer;
}



.overlay-correctionManuelleDonnees #listeDonneesVides,
.overlay-conflitDonnees #listeDonneesConflit
{
    height: 360px;
    overflow-y: scroll;    
    border-bottom: 1px solid #eee;
}

.overlay-correctionManuelleDonnees #listeDonneesVides .sansDonnee input,
.overlay-conflitDonnees #listeDonneesConflit .sansDonnee input
{
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.overlay-correctionManuelleDonnees p.correctionManuelInfo
{
    color: rgb(117, 117, 117);
    width: 561px;
    text-align: right;
    float: right;
    margin-right: 30px;
    font-size: 13px;
    position: relative;
    top: -75px;
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom,
.overlay-conflitDonnees #overlay-conflitDonneesDonneesBottom
{
    text-align:right;
    margin:30px 30px 20px;
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom:after
{
    display:block;
    visibility:hidden;
    content:'';
    clear:both;
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom .overlay-correctionManuelleDonneesBottomLeft
{
    width:42%;
    float:left;
    text-align: left
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom .overlay-correctionManuelleDonneesBottomLeft label
{
    font-size:13px;
}
.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom .overlay-correctionManuelleDonneesBottomLeft textarea
{
    width: 100%;
    height: 80px;
    margin-top: 6px;
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom .overlay-correctionManuelleDonneesBottomRight
{
    width:48%;
    float:right;
}

.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom p.boutonVert,
.overlay-correctionManuelleDonnees #overlay-correctionManuelleDonneesBottom p.boutonGris,
.overlay-conflitDonnees #overlay-conflitDonneesDonneesBottom p.boutonVert,
.overlay-conflitDonnees #overlay-conflitDonneesDonneesBottom p.boutonGris
{
    text-transform: uppercase;
    font-size:14px;
}


/* Si on est sur la page graphePression.html*/
.overlay-correctionManuelleDonnees.correctionManuellePression
.overlay-conflitDonnees.correctionManuellePression
{
    width: 400px;
    left: 40%;
}

.overlay-correctionManuelleDonnees.correctionManuellePression table tr td,
.overlay-conflitDonnees.correctionManuellePression table tr td,
.overlay-conflitDonnees table tr:first-child th
{
    padding-left: 30px;
}

.overlay-correctionManuelleDonnees table tr:first-child th
{
    background-color: #e90d3f;
    color: white;
    border-right: solid white 1px;
}


a.canvasjs-chart-credit
{
    display:none;
}

.erreurDonnees .erreurDonneesIncoherente
{
    color:#b1b1b1;
    font-size: 13px;
    margin-top: 20px;
    display:none;
}

.erreurDonnees .erreurDonneesNull
{
    color:#e90d3f;
    margin-top: 10px;
    font-size: 13px;
    display:none;
}



/********************************
**** GÉRER CALAGES **************
********************************/



.gererCalages #caviteStyleTopTitre 
{
   width: 80%;
}

.gererCalages #caviteStyleTopTitre h1
{
   width: 100% !important;
}


.gererCalages #caviteStyleTopBouton 
{
   float:right;
    position:relative;
    top:30px;
}

.gererCalages #caviteStyleTopBouton p
{
    width:176px !important;
}

.gererCalages #caviteStyleTopBouton p.nouveauCalageErreur
{
    color: #e90d3f;
    text-align: left !important;
    font-size: 13px;
    width: 210px !important;
    margin-left: 9px;
    display:none;
    margin-bottom:5px;
}

.gererCalages .sectionCalage
{
    margin-top:30px;
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    border-radius:4px;
    background-color:#2ecc71;
    transition: all 0.5s ease;
}

.gererCalages .sectionCalage.sectionCalageActive
{
    background-color:white;
    box-shadow: 2px 0px 17px rgba(0, 0, 0, 0.41);
    transition: all 0.5s ease;
}


.gererCalages .sectionCalage.sectionCalage .sectionCalageContenu
{
    display:none;
}

.gererCalages .sectionCalage.sectionCalageActive .sectionCalageContenu
{
    display:block;
    margin-top: 15px;
}

.gererCalages .sectionCalageTitre
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    width:98%;  
    padding-top:10px;
}

.gererCalages .sectionCalageTitre input
{
    margin-bottom:7px  !important;
    border:none;
    text-transform: uppercase;
    border: none !important;
    font-size: 14px;
    width: 170px;
    background-color:#2ecc71 ;
    color:white;
    transition: all 0.5s ease;
}

.gererCalages .sectionCalageActive .sectionCalageTitre input
{
    color:#2ecc71 /*!important*/;
    background-color:white ;
    transition: all 0.5s ease;
}

.gererCalages .sectionCalageTitre div p
{
    display:inline-block;
}

.gererCalages .sectionCalageTitre div p:nth-child(1)
{
    width: 235px;
    font-size: 19px;
    color: white;
    font-size: 14px;
}

.gererCalages .sectionCalageActive .sectionCalageTitre div p:nth-child(1)
{
    color:#2ecc71;
}

.gererCalages .sectionCalageTitre div p:nth-child(2)
{
    width: 635px;
    margin-left:40px;
    color:white;
    font-size: 14px;
}

.gererCalages .sectionCalage.sectionCalageActive .sectionCalageTitre div p:nth-child(2)
{
    color:#2ecc71;
}

.gererCalages .sectionCalageTitre div.checkboxAfficherCalage p
{
    width: inherit;
    margin-top:8px;
    font-size:15px;
}

.gererCalages .sectionCalageTitre div.checkboxAfficherCalage input
{
    width: inherit;
    margin-right: 10px;
    
    -webkit-transform: scale(1.2);
    position: relative;
    top: 1px;
}


.gererCalages .sectionCalageTitre img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 35px;
    cursor:pointer;
}


.overlay-suppressionCalage
{
    display: none;
    width: 40%;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 35%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:21;
}

.overlay-suppressionCalage .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

.overlay-suppressionCalage p.boutonGris
{
    margin-bottom:30px;
}
.overlay-suppressionCalage p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 140px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

.overlay-suppressionCalage #suppressionCalageBottom
{
    margin-top:30px;
}



.sectionCalageContent:after
{
    content:'';
    display:block;
    visibility:hidden;
    clear:both;
}

.sectionCalageContent .sectionCalageContentLeft
{
    width: 46%;
    float:left;
    
    text-align: right;
}

.sectionCalageContent .sectionCalageContentRight
{
    width: 52%;
    float:right;
    
    text-align: right;
}
.sectionCalageContent .simulerCourbes
{
    margin: auto;
    display: block;
    clear: both;
    width: 72px;
    position: relative;
    top: 25px;
    left: -26px;
    margin-bottom: 30px;
    text-align: center;
}

.sectionCalageContent .simulerCourbesErreur
{
    margin: auto;
    display: none;
    clear: both;
    width: 300px;
    position: relative;
    top: 15px;
    left: -26px;
    margin-bottom: 30px;
    text-align: center;
    color: #e90d3f;
}

.sectionCalageContent table
{
    border-collapse: collapse; 
    text-align:center;
}

.sectionCalageContent td
{
    color: #b1b1b1;
    font-size:11px;
    height: 35px;
    width:97px;
}

.sectionCalageContent th
{
    font-size:13px;
    padding-bottom: 10px;
 }

.sectionCalageContent tr td:first-child
{
    font-weight:bold;
    text-align: left;
    width: 80px;
}

.sectionCalageContent .sectionCalageContentRight tr td:first-child
{
    width: 130px;
}

.sectionCalageContent tr
{
    border-bottom:1px solid #c3c7c7;
}

.sectionCalageContent tr b
{
    font-size:17px;
}

.sectionCalage .sectionCalageContent input
{
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.40);
    text-align:center;
    color: #b1b1b1 /*!important*/;
    width:75px !important;
    margin-bottom:0px !important;
}

.sectionCalageContentLeft input
{
    width:85px;
}


.sectionCalageContentRight p,
.sectionCalageContentLeft p
{
    margin-top:30px;
}


#graphesGestionCalage:after
{
    display:block;
    content:'';
    visibility:hidden;
    clear:both;
}

#graphesGestionCalage #graphesGestionCalageLeft
{
    width: 45%;
    float: left;
}

#graphesGestionCalage #graphesGestionCalageRight
{
    width: 45%;
    float: right;
}

#graphesGestionCalage #grapheTemperature img, 
#caviteSite #graphePression img 
{
    width: 100%;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
}

#listeInfoGraphe 
{
    margin-top:15px;
}

#listeInfoGraphe .infoGraphe
{
    border-left: 1px solid #5b9bd5;
    display:inline-table;
    padding-left: 5px;
}

#listeInfoGraphe .infoGraphe:nth-child(1)
{
    width:50px;
    margin-right: 13px;
    margin-bottom: 10px;
}

#listeInfoGraphe .infoGraphe:nth-child(2)
{
    width:50px;
    margin-right: 9px;
}

#listeInfoGraphe .infoGraphe:nth-child(3)
{
    width:55px;
    margin-right: 13px;
}

#listeInfoGraphe .infoGraphe:nth-child(4)
{
    width:77px;
    margin-right: 13px;
}

#listeInfoGraphe .infoGraphe:nth-child(5)
{
    width:80px;
}







#listeInfoGraphe .infoGraphe p:first-child
{
    color: #5b9bd5;
    font-weight:bold;
    font-size:14px;
}
#listeInfoGraphe .infoGraphe p:last-child
{
    font-size:11px;
    color: #b1b1b1;
    margin-top:5px;
}

#gestionCalagesBottom
{
    margin-top:50px;
    text-align:right;
    padding-bottom: 20px;
}

#gestionCalagesBottom .boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 85px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 9px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

#gestionCalagesBottom .erreurDate
{
    color: #e90d3f;
    margin-top: 15px;
    display:none;
    font-size: 14px;
    
}

#gestionCalagesBottom .erreurChampsCoef
{
    color: #e90d3f;
    margin-top: 8px;
    display:none;
    font-size: 14px;
}






/****************************
**** EXPLOITANT *************
****************************/


#baseStructContent .baseStructRightExploitants
{
    width: 1050px;
    height: 620px;
    overflow-y: scroll;
    background-color:white;
}


#exploitants
{
  /*  padding: 30px 30px;*/
    background-color:white;
    padding-bottom:50px;
    position:relative;
    min-height: 620px;
}

#exploitants .montrerListeExploitant
{
    background-color:#30d8be;
    padding:15px 20px;
    color:white;
}


#exploitants .montrerListeExploitant input
{
    background-color:#30d8be;
    width:50px;
    display:inline-block;
    color:white;
    border-bottom: 1px solid white;
}

#exploitants .montrerListeExploitant input::-webkit-calendar-picker-indicator {
    background-color: inherit;
}


#exploitants .montrerListeExploitant ::-webkit-input-placeholder 
{
  color: white;
}

#quantiteExploitant option
{
    color:red;
}



#exploitants table
{
    width:100%;
    border-collapse: collapse;
}

#exploitants th:first-child
{
    padding-left: 15px;
}

#exploitants th
{
    background-color:#19bea7;
    width:28%;
    color:white;
    text-align:left;
    font-size: 16px;
    height: 45px;
}

#exploitants tr td
{
   padding: 10px 00px 35px;
}
#exploitants tr td.nomExploitant img
{
    width:65px;
    margin-right:15px;
    margin-left:10px;
}

#exploitants tr td.nomExploitant p
{
    display:inline-block;
    width: 65%;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    font-size: 20px;
}

#exploitants tr td.adresseExploitant p,
#exploitants tr td.sitesExploitant p
{
    font-size: 15px;
    line-height:20px;
}

#exploitants tr td.boutonExploitant p
{
    width:150px;
    text-align:center;
    padding: 8px 0px;
}

#exploitants tr td.boutonExploitant p +p
{
    margin-top:10px;
}


#exploitants tr td.boutonExploitant a
{
    margin-top: 7px;
    display: inline-block;
}

#exploitants #ajouterExploitant
{
    text-align:right;
    margin-bottom: 20px;
    margin-top:20px;
}

#exploitants #nouvelExploitant
{
    border:none;
}

#exploitants #nouvelExploitant input 
{
    margin-bottom: 25px;
    border-bottom: #757575 1px solid;
    width: 100%;
    color: black;
    margin-top: 6px;
}


#exploitants div.table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

#exploitants p.th {
    background-color: #19bea7;
    color: white;
    text-align: left;
    font-size: 16px;
    height: 25px;
    float: left;
    padding: 10px 0;
}

#exploitants p.th:first-child 
{
    padding-left: 15px;
    width: 27%;
}

#exploitants p.th:nth-child(2) 
{
    width: 30%;
}

#exploitants p.th:nth-child(3) 
{
    width: 25.55%;
}

#exploitants p.th:nth-child(4) 
{
    width: 16.001%;
}

#exploitants .table .nomColonnes:after 
{
    content: '';
    visibility: hidden;
    clear: both;
    display: block;
}

#exploitants div.informationExploitant 
{
    padding-top: 10px;
    padding-bottom: 20px;
    display: table;
    width: 100%;
}

#exploitants div.informationExploitant div.nomExploitant 
{
    position: relative;
    width: 28%;
}

#exploitants div.informationExploitant div.adresseExploitant 
{
    width: 30%;
}

#exploitants div.informationExploitant div.sitesExploitant 
{
    width: 25.55%;
}

#exploitants div.informationExploitant div.boutonExploitant 
{
    width: 10%;
}

#exploitants div.informationExploitant div.nomExploitant, 
#exploitants div.informationExploitant div.adresseExploitant, 
#exploitants div.informationExploitant div.sitesExploitant, 
#exploitants div.informationExploitant div.boutonExploitant 
{
    display: inline-table;
    vertical-align: top;
    border-spacing: 5px 15px;
    border-collapse: separate;
}

#exploitants div.informationExploitant div.nomExploitant img 
{
    width: 65px;
    margin-right: 15px;
    margin-left: 10px;
}

#exploitants div.informationExploitant div.nomExploitant p 
{
    display: inline-block;
    width: 65%;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    font-size: 20px;
}

#exploitants div.informationExploitant div.adresseExploitant p,
#exploitants div.informationExploitant div.sitesExploitant p 
{
    font-size: 15px;
    line-height: 20px;
}

#exploitants div.informationExploitant div.boutonExploitant p 
{
    width: 150px;
    text-align: center;
    padding: 8px 0px;
}

#exploitants div.informationExploitant div.boutonExploitant a 
{
    margin-top: 7px;
    display: inline-block;
}

#exploitants div.informationExploitant div.boutonExploitant .exportExploitant
{
    margin-top: 7px;
    display: inline-block;
}

#exploitants div.informationExploitant div.boutonExploitant p 
{
    width: 150px;
    text-align: center;
    padding: 8px 0px;
}


/**********************modif**/
#exploitants div.modifierInformationExploitant {
    padding-top: 10px;
    padding-bottom: 20px;
    display: table;
    width: 100%;
    background-color: rgba(189, 225, 220, 0.57);
    display: none;
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant {
    position: relative;
    /* padding: 14px 0px 37px 10px; */
    width: 28%;
    margin-top: -3px;
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant p{
    display: inline-block;
    width: 65%;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    font-size: 20px;
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant p:first-child
{
        width: 34%;
    top:0;
    cursor:pointer;
}
#exploitants div.modifierInformationExploitant div.modifierNomExploitant p:first-child img
{
    cursor:pointer;
    border: 1px solid rgba(58, 58, 58, 0.66);
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant p:first-child img:hover
{
    opacity: 0.7;
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant img {
    width: 65px;
    margin-right: 15px;
    margin-left: 10px;
}

#exploitants div.modifierInformationExploitant div.modifierNomExploitant p:nth-child(2) {
   top:-60px;
}



#exploitants div.modifierInformationExploitant div.modifierAdresseExploitant {
    width: 29%;
}

#exploitants div.modifierInformationExploitant div.modifierAdresseExploitant input, {
   
    margin-top: 5px;
}

#exploitants div.modifierInformationExploitant div.modifierSitesExploitant {
    width: 25.55%;
}


#exploitants div.modifierInformationExploitant .modifierSitesExploitant p 
{
    margin-top: 5px;
    font-size:14px;
    margin-left:5px;
}

#exploitants div.modifierInformationExploitant div.modifierBoutonExploitant {
    width: 16.001%;
}

#exploitants div.modifierInformationExploitant div.modifierAdresseExploitant, 
#exploitants div.modifierInformationExploitant div.modifierSitesExploitant, 
#exploitants div.modifierInformationExploitant div.modifierNomExploitant, 
#exploitants div.modifierInformationExploitant div.modifierBoutonExploitant {
    display: inline-table;
    vertical-align: top;
  /* border-spacing: 5px 15px;*/
    border-collapse: separate;
}

#exploitants div.modifierInformationExploitant div.modifierBoutonExploitant p.boutonGris
{
    margin-top:10px;
}
#exploitants div.modifierInformationExploitant div.modifierBoutonExploitant p.boutonRouge
{
    margin-top: 15px;
    margin-left: 3%;
    color: white;
    background-color: #e90d3f;
    width: 85px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 9px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

#exploitants div.modifierInformationExploitant input {
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.29);
    text-align: left;
    color: #b1b1b1;
    font-size: 16px;
    width: 70%;
    padding: 3px 7px 3px 6px;
    background-color: #d9eeeb;
}

#exploitants .overlay-suppressionExploitant {
    display: none;
    width: 350px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 45%;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    z-index: 21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
}

#exploitants .overlay-erreurSupressionExploitant 
{
    display: none;
    width: 800px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 30%;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 21;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    padding-top: 20px;
}



#exploitants .overlay-title 
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

#exploitants .overlay-suppressionExploitant > p:nth-child(2)
{
    margin-left:15px;
    margin-bottom:20px;
}

#exploitants .overlay-suppressionExploitant p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 115px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
    margin-left: 35px;
}

#exploitants .overlay-erreurSupressionExploitant p
{
   color:#e90d3f;
    margin-bottom:25px;
    font-size: 18px;
    margin-top:15px;
}

#exploitants .overlay-erreurSupressionExploitant .boutonGris
{
   color:white;
    margin-bottom:0px;
    font-size: 15px;
    margin-bottom:15px;
}


/****************************
**** Contact 2 **************
****************************/


#contacts
{
    background-color:white;
    position: relative;
    padding-bottom: 20px;
    min-height: 600px;
}

#contacts .montrerListeContacts
{
    background-color:#30d8be;
    padding:15px 20px;
    color:white;
}

#contacts .montrerListeContacts p.nomExploitant,
#contacts .montrerListeContacts p.nomSite
{
    font-size:20px;
    text-transform:uppercase;
    display:inline-block;
}

#contacts .montrerListeContacts p.retourExploitant,
#contacts .montrerListeContacts p.retourSite
{
    float:right;
    font-size:17px;
}

#contacts .montrerListeContacts p.retourExploitant span:first-child,
#contacts .montrerListeContacts p.retourSite span:first-child
{
    font-size:26px;
    font-family: monospace;
    position: relative;
    top: 2px;
}

#contacts .montrerListeContacts p.retourExploitant a,
#contacts .montrerListeContacts p.retourSite a
{
    text-decoration:none;
    color:white;
    position: relative;
    top: -6px;
}




#contacts .montrerListeContacts input::-webkit-calendar-picker-indicator {
    background-color: inherit;
}


#contacts .montrerListeContacts ::-webkit-input-placeholder 
{
  color: white;
}

#contacts div.table
{
    width:100%;
    border-collapse: collapse;
    display:table;
}

.table .nomColonnes:after
{
    content:'';
    visibility:hidden;
    clear:both;
    display:block;
}

#contacts p.th:first-child
{
    padding-left: 15px;
    width:27%;
}

#contacts p.th:nth-child(2)
{
    width:28%;
}
#contacts p.th:nth-child(3)
{
    width:17.55%;
}

#contacts p.th:nth-child(4)
{
    width:25%;
    padding-left:1%;
}


#contacts p.th
{
    background-color: #19bea7;
    color: white;
    text-align: left;
    font-size: 16px;
    height: 25px;
    float: left;
    padding: 10px 0;
}

/*#contacts div.informationContact:hover
{
   background-color:rgb(189, 225, 220);
}*/


#contacts div.informationContact
{
  padding-top: 10px;
    padding-bottom: 20px;
    display:table;
    width:100%;
}

#contacts div.informationContact div.fonctionContact,
#contacts div.informationContact div.telContact,
#contacts div.informationContact div.nomContact,
#contacts div.informationContact div.sitesContact
{
        display: inline-table;
    vertical-align: top;
    border-spacing: 5px 15px;
    border-collapse: separate;
}

#contacts div.informationContact div.nomContact 
{
    position:relative;
    /*padding: 14px 0px 37px 10px;*/
    width:28%;
}

#contacts div.informationContact div.nomContact img
{
    width:65px;
    margin-right:15px;
    margin-left:10px;
    border-radius:50%;
    float:left;
}

#contacts div.informationContact div.nomContact p
{
    display: inline-block;
    width: 65%;
    position: relative;
    font-size: 15px;
    float: left;
    top: 5px;
}

#contacts div.informationContact div.nomContact .entrepriseContact
{
    color:#b1b1b1;
    margin-top:5px;
}

#contacts div.informationContact div.fonctionContact
{
    width:28%;   
}

#contacts div.informationContact div.telContact
{
    width:18.55%;   
}

#contacts div.informationContact div.sitesContact
{
    width:25%;   
}

#contacts div.informationContact div.fonctionContact p.serviceContact,
#contacts div.informationContact div.telContact p.mailContact
{
    color:#19bea7;
    margin-top: 6px;
}

#contacts div.informationContact div.telContact p.mailContact
{
    word-wrap: break-word;
    width: 150px;
}

#contacts div.informationContact .sitesContact p + p
{
    margin-top: 6px;
}


#contacts div.informationContact div.fonctionContact p,
#contacts div.informationContact div.telContact p
{
    font-size: 15px;
    line-height:20px;
}

#contacts div.informationContact div.boutonContact p
{
    width:150px;
    text-align:center;
    padding: 8px 0px;
}

#contacts div.informationContact div.boutonContact p + p
{
    margin-top:10px;
}



#contacts div.informationContact div.menuContact 
{
    margin: 0px 75px 0;
    padding-bottom: 20px;
}

#contacts div.informationContact div.menuContact p.modifierContact
{
    display:inline-block;
    color:#30d8be;
    width: 105px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right:20px;
    cursor:pointer;
}

#contacts div.informationContact div.menuContact .modifierContact img
{
   width:13px; 
    margin-right: 7px;
    position:relative;
    top:2px;
}

#contacts div.informationContact div.menuContact .SupprimerContact img
{
    width:10px;
    margin-right: 7px;
    position:relative;
    top:3px;
}

#contacts div.informationContact div.menuContact p.SupprimerContact
{
    display:inline-block;
    color:red ;
    width: 120px;
    font-size: 14px;
    text-transform: uppercase;
    cursor:pointer;
}

#contacts div.informationContact div.menuContact .desassignerContact img
{
    width:13px;
    margin-right: 7px;
}

#contacts div.informationContact div.menuContact p.desassignerContact
{
    display:inline-block;
    color:#d0702a ;
    width: 135px;
    font-size: 14px;
    text-transform: uppercase;
    cursor:pointer;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
    display:none;
}

.overlay-suppressionContact
{
    display: none;
    width: 40%;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 35%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:9999;
}

.overlay-suppressionContact .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

.overlay-suppressionContact p.overlay-message
{
    color:red;
    margin-top:30px;
    margin-bottom:30px;
}

.overlay-suppressionContact p.boutonGris
{
    margin-bottom:30px;
}
.overlay-suppressionContact p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 140px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

.overlay-suppressionContact #suppressionContactBottom
{
    margin-top:30px;
}



.overlay-desassignationContact
{
    display: none;
    width: 40%;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 35%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:21;
}

.overlay-desassignationContact .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 30px;
}

.overlay-desassignationContact p.overlay-message
{
    color:red;
    margin-top:30px;
    margin-bottom:30px;
}

.overlay-desassignationContact p.boutonGris
{
    margin-bottom:30px;
}
.overlay-desassignationContact p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 140px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

.overlay-desassignationContact #desassignationContactBottom
{
    margin-top:30px;
}



.overlay-choixAjouterContact
{
    display: none;
    width: 50%;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 25%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:21;
}

.overlay-choixAjouterContact .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}



.overlay-choixAjouterContact #ajouterContactBottom
{
    margin-bottom: 25px;
    margin-top: 25px;
}

.overlay-choixAjouterContact .boutonGris
{
    margin-bottom: 20px;
    position: relative;
    left: 14px;
}




.overlay-assignerContactSite
{
    display: none;
    width: 50%;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 25%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:21;
}

.overlay-assignerContactSite .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

.overlay-assignerContactSite select
{
    margin-bottom: 25px;
    margin-top: 25px;
    width: 300px;
    height: 100px;
    padding: 5px 15px;
}

.overlay-assignerContactSite select option
{
    padding: 3px 2px;
}

.overlay-assignerContactSite .boutonGris
{
    margin-bottom: 20px;
    position: relative;
    left: 14px;
}








.overlay-creerContactSite
{
    display: none;
    width: 65%;
    position: fixed;
    margin: auto;
    top: 207px;
    left: 18%;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    z-index:21;
}

.overlay-creerContactSite .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}







/***********************
**** Modifier contact **
***********************/

#contacts div.modifierInformationContact
{
    
  padding-top: 10px;
    padding-bottom: 20px;
    display:table;
    width:100%;
    
    background-color: rgba(189, 225, 220, 0.57);
    display:none;
}

#contacts div.modifierInformationContact div.modifierFonctionContact,
#contacts div.modifierInformationContact div.modifierTelContact,
#contacts div.modifierInformationContact div.modifierNomContact,
#contacts div.modifierInformationContact div.modifierSitesContact
{
        display: inline-table;
    vertical-align: top;
    border-spacing: 5px 15px;
    border-collapse: separate;
}

#contacts div.modifierInformationContact div.modifierNomContact 
{
    position:relative;
    /*padding: 14px 0px 37px 10px;*/
    width:28%;
    margin-top: -3px;
}

#contacts div.modifierInformationContact div.modifierNomContact img
{
    width:65px;
    margin-right:15px;
    margin-left:10px;
    border-radius:50%;
    float:left;
    cursor:pointer;
}

#contacts div.modifierInformationContact div.modifierNomContact img.modifierImageIco
{
    position: absolute;
    left: 16px;
    width: 43px;
    border-radius: inherit;
    top: 26px;
    opacity: 0;
    transition:all 1s ease;
}

#contacts div.modifierInformationContact div.modifierNomContact img.modifierImagePrincipale:hover
{
    opacity:0.5;
}

#contacts div.modifierInformationContact div.modifierNomContact img.modifierImagePrincipale:hover
{
    opacity:1;
}




#contacts div.modifierInformationContact div.modifierNomContact p
{
    display: inline-block;
    width: 65%;
    position: relative;
    font-size: 15px;
    float: left;
    top: 5px;
}

#contacts div.modifierInformationContact div.modifierNomContact .modifierEntrepriseContact
{
    color:#b1b1b1;
    margin-top:5px;
}

#contacts div.modifierInformationContact div.modifierFonctionContact
{
    width:28%;   
}
#contacts div.modifierInformationContact div.modifierTelContact
{
    width:18.55%;   
}

#contacts div.modifierInformationContact div.modifierSitesContact
{
    width:/*26*/ 23.89%;   
    
}

#contacts div.modifierInformationContact div.modifierFonctionContact p.modifierServiceContact,
#contacts div.modifierInformationContact div.modifierTelContact p.modifierMailContact
{
    color:#19bea7;
    
    margin-top: 6px;
}

 p.modifierMailContact,
input[name="nC2"]
{
    margin-top:5px !important;
}


#contacts div.modifierInformationContact div.modifierFonctionContact p,
#contacts div.modifierInformationContact div.modifierTelContact p
{
    font-size: 15px;
    line-height:20px;
}


#contacts div.modifierInformationContact .modifierSitesContact p + p
{
    margin-top: 6px;
}

#contacts div.modifierInformationContact div.boutonContact p
{
    width:150px;
    text-align:center;
    padding: 8px 0px;
}

#contacts div.modifierInformationContact div.boutonContact p + p
{
    margin-top:10px;
}



#contacts div.modifierInformationContact div.modifierMenuContact 
{
    margin: 0px 75px 0;
    padding-bottom: 20px;
    position: relative;
}



#contacts div.modifierInformationContact input
{
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.29);
    text-align: left;
    color: #b1b1b1;
    font-size: 16px;
    width: 90%;
    padding: 3px 3px 3px 11px;
    background-color: #d9eeeb;  
}

#contacts div.modifierInformationContact .modifierSitesContact input
{
    width: 65%;
}


#contacts div.modifierInformationContact .modifierSitesContact img
{
    margin-left:10px;
    cursor:pointer;
}

#contacts div.modifierInformationContact .modifierSitesContact .boutonTurquoise
{
    padding: 5px 13px 7px;
    margin-top:12px;
    font-size: 14px;
}


#ajouterContact
{
    text-align:right;
    position:relative;
    right:15px;
}




#contacts div.modifierInformationContact div.modifierMenuContact p.enregistrerContact
{
    display:inline-block;
    color:#30d8be;
    width: 105px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right:20px;
    cursor:pointer;
}

#contacts div.modifierInformationContact div.modifierMenuContact p.annulerContact
{
    display:inline-block;
    color:red ;
    width: 120px;
    font-size: 14px;
    text-transform: uppercase;
    cursor:pointer;
}


/***********************
**** Ajouter contact ***
***********************/

#contacts div.ajouterInformationContact
{
    
  padding-top: 10px;
    padding-bottom: 20px;
    display:table;
    width:100%;
    
    background-color: rgba(189, 225, 220, 0.57);
    display:none;   
}

.overlay-creerContactSite div.ajouterInformationContact
{
    
  padding-top: 30px;
    padding-bottom: 20px;
    display:table;
    width:100%;
    
    background-color: rgba(189, 225, 220, 0.57);
    display:block;   
}

#contacts div.ajouterInformationContact .mailInvalide,
.overlay-creerContactSite div.ajouterInformationContact .mailInvalide
{
    display:none;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #e90d3f;
    font-size: 14px !important;
}

#contacts div.ajouterInformationContact div.ajouterFonctionContact,
#contacts div.ajouterInformationContact div.ajouterTelContact,
#contacts div.ajouterInformationContact div.ajouterNomContact,
#contacts div.ajouterInformationContact div.ajouterSitesContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterFonctionContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterTelContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterNomContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterImageContact
{
        display: inline-table;
    vertical-align: top;
    border-spacing: 5px 15px;
    border-collapse: separate;
}

#contacts div.ajouterInformationContact div.ajouterNomContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterNomContact
{
    position:relative;
    /*padding: 14px 0px 37px 10px;*/
    width:28%;
    margin-top: -3px;
}

#contacts div.ajouterInformationContact div.ajouterNomContact img
{
    width:65px;
    height:65px;
    margin-right:15px;
    margin-left:10px;
    border-radius:50%;
    float:left;
    cursor:pointer;
    border: 1px solid rgba(177, 177, 177, 0.29);
}


.overlay-creerContactSite div.ajouterInformationContact div.ajouterImageContact img
{
     width:65px;
    height:65px;
    margin-right:15px;
    margin-left:10px;
    border-radius:50%;
    float:left;
    cursor:pointer;
    border: 1px solid rgba(177, 177, 177, 0.29);
}


#contacts div.ajouterInformationContact div.ajouterNomContact p,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterNomContact p
{
    display: inline-block;
    width: 65%;
    position: relative;
    font-size: 15px;
    float: left;
    top: 5px;
}

#contacts div.ajouterInformationContact div.ajouterNomContact .ajouterEntrepriseContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterNomContact .ajouterEntrepriseContact
{
    color:#b1b1b1;
    margin-top:5px;
}

#contacts div.ajouterInformationContact div.ajouterFonctionContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterFonctionContact
{
    width:28%;   
}
#contacts div.ajouterInformationContact div.ajouterTelContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterTelContact
{
    width:21.55%;   
}

#contacts div.ajouterInformationContact div.ajouterSitesContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterSitesContact
{
    width:/*26*/ 20.89%;   
    
}

#contacts div.ajouterInformationContact div.ajouterFonctionContact p.ajouterServiceContact,
#contacts div.ajouterInformationContact div.ajouterTelContact p.ajouterMailContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterFonctionContact p.ajouterServiceContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterTelContact p.ajouterMailContact
{
    color:#19bea7;
    
    margin-top: 6px;
}


#contacts div.ajouterInformationContact div.ajouterFonctionContact p,
#contacts div.ajouterInformationContact div.ajouterTelContact p,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterFonctionContact p,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterTelContact p
{
    font-size: 15px;
    line-height:20px;
}


#contacts div.ajouterInformationContact .ajouterSitesContact p + p,
.overlay-creerContactSite div.ajouterInformationContact .ajouterSitesContact p + p
{
    margin-top: 6px;
}

#contacts div.ajouterInformationContact div.boutonContact p,
.overlay-creerContactSite div.ajouterInformationContact div.boutonContact p
{
    width:150px;
    text-align:center;
    padding: 8px 0px;
}

#contacts div.ajouterInformationContact div.boutonContact p + p,
.overlay-creerContactSite div.ajouterInformationContact div.boutonContact p + p
{
    margin-top:10px;
}



#contacts div.ajouterInformationContact div.ajouterMenuContact,
.overlay-creerContactSite div.ajouterInformationContact div.ajouterMenuContact 
{
    margin: 0px 75px 0;
    padding-bottom: 20px;
    position: relative;
}



#contacts div.ajouterInformationContact input,
.overlay-creerContactSite div.ajouterInformationContact input
{
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.29);
    text-align: left;
    color: #b1b1b1;
    font-size: 16px;
    width: 90%;
    padding: 3px 3px 3px 11px;
    background-color: #d9eeeb;  
}


.overlay-creerContactSite div.ajouterInformationContact input[type="submit"]
{
    background-color:inherit;
    color:white;
    width:100%;
    padding-left: 6px;
    cursor: pointer;
}

.overlay-creerContactSite div.ajouterInformationContact .boutonGris
{
    padding : 11px 23px;
}

#contacts div.ajouterInformationContact .ajouterSitesContact input,
.overlay-creerContactSite div.ajouterInformationContact .ajouterSitesContact input
{
    width: 65%;
}


#contacts div.ajouterInformationContact .ajouterSitesContact img,
.overlay-creerContactSite div.ajouterInformationContact .ajouterSitesContact img
{
    margin-left:10px;
    cursor:pointer;
}

#contacts div.ajouterInformationContact .ajouterSitesContact .boutonTurquoise,
.overlay-creerContactSite div.ajouterInformationContact .ajouterSitesContact .boutonTurquoise
{
    padding: 5px 13px 7px;
    margin-top:12px;
    font-size: 14px;
}


#ajouterContactExploitant,
#ajouterContactSite
{
    text-align:right;
    position:relative;
    right:15px;
    margin-top:50px;
    margin-bottom:25px;
}



#contacts div.ajouterInformationContact div.ajouterMenuContact p.ajouterContact 
{
    display:inline-block;
    color:#30d8be;
    width: 105px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right:20px;
    border:none;
    padding:0;
}


#contacts div.ajouterInformationContact div.ajouterMenuContact p.ajouterContact input 
{
    display:inline-block;
    color:#30d8be;
    width: 105px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right:20px;
    border:none;
    padding:0;
    cursor:pointer;
}

#contacts div.ajouterInformationContact div.ajouterMenuContact p.annulerContact
{
    display:inline-block;
    color:red ;
    width: 120px;
    font-size: 14px;
    text-transform: uppercase;
}






/****************************
**** CAVITE SITE ***********
****************************/


#baseStructContent .baseStructRightParametre
{
    width: 1050px;
    height: 620px;
    overflow-y: scroll;
}


#parametreSite
{
    padding: 30px 30px;
    background-color:white;
}


#contenuParametreSite #parametreSiteMap img
{
    width:100%;
}

#parametreStyleTop:after
{
    display:block;
    content:'';
    visibility:hidden;
    clear:both;
}

#parametreSite #parametreSiteMap 
{
    margin-bottom:15px;
}


#parametreStyleTop #parametreStyleTopLogo
{
    float:left;
    width: 12%;
}

#parametreStyleTop #parametreStyleTopLogo img
{
    width: 100%;
}

#parametreStyleTop #parametreStyleTopTitre
{
    float:left;
    position: relative;
    top: 22px;
    width: 820px;
}

#parametreStyleTop #parametreStyleTopTitre h1
{
    color:#2ecc71;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 25px;
    width:70%;
    display:inline-block;
    margin:0;
    text-transform: uppercase;
    margin-left:30px;
}


div.compositionGaz  
{
    margin-top:40px;
}

div.compositionGaz ul 
{
    margin:0;
    padding:0;
}

div.compositionGaz ul li
{
    list-style: none;
}

div.compositionGaz .infoComposant
{
    /*display:inline-block;*/
    display : inline-table;
    font-size:14px;
}

div.compositionGaz .infoComposant .erreurProportion
{
    color:#e90d3f;
    margin-top:-20px;
    font-size:13px;
    margin-bottom:25px;
    display:none;
}

div#parametreSite .erreurProportionsSup100
{
    color: #e90d3f;
    margin-top: 20px; 
    font-size: 15px;
    margin-bottom: 16px;
    text-align: right;
    display:none;
}

div.compositionGaz .infoComposant:nth-child(1)
{
    width:18%;
}


div.compositionGaz .infoComposant:nth-child(2)
{
    width:14%;
}

div.compositionGaz .infoComposant:nth-child(1) input
{
    width:85%;
    color: #2ecc71;
}

div.compositionGaz .infoComposant:nth-child(2) input
{
    width: 79%;
    color: #2ecc71;
}


div.compositionGaz .infoComposant:nth-child(3)
{
    width:15%;
}


div.compositionGaz .infoComposant:nth-child(4)
{
    width:15%;
}


div.compositionGaz .infoComposant:nth-child(5)
{
    width:18%;
}

div.compositionGaz .infoComposant:nth-child(6)
{
    width:14%;
}

div.compositionGaz .infoComposant:nth-child(7) img
{
    margin-left: 10px;
    cursor:pointer;
    position: relative;
    top: 36px;
}

div.compositionGaz .infoComposant:nth-child(3) label,
div.compositionGaz .infoComposant:nth-child(4) label,
div.compositionGaz .infoComposant:nth-child(5) label,
div.compositionGaz .infoComposant:nth-child(6) label
{
    font-weight:bold;
}

select#composantsChimiques 
{
    width: 92%;
    background-color: white;
    border: none;
    border-bottom: 1px solid #757575;
    font-size: 18px;
    margin-bottom: 19px;
    margin-top: 7px;
    height: 32px;
    color: #2ecc71; 
}



div.compositionGaz .infoComposant input
{
    margin-bottom: 25px;
    border-bottom: #757575 1px solid;
    width: 81%;
    color: #656565;
    margin-top: 6px;
    font-weight:bold;
    font-size:15px;
}

div#menuComposition
{
    text-align:left;
    margin-top:20px;
    margin-bottom:60px;
}


.compositionGazFinal .infoComposant
{
        display: inline-block;
    font-size: 14px;
}

.compositionGazFinal .infoComposant:nth-child(1)
{
    width: 21%;
}

.compositionGazFinal .infoComposant:nth-child(2)
{
    width: 21%;
}

.compositionGazFinal .infoComposant:nth-child(3)
{
    width: 21%;
}


.compositionGazFinal .infoComposant label
{
    font-weight:bold;
}

.compositionGazFinal .infoComposant input
{
    margin-bottom: 25px;
    border-bottom: #757575 1px solid;
    width: 80%;
    margin-top: 6px;
    font-weight: bold;
    font-size: 17px;
    color:black;
}

#parametreSiteBottom
{
    text-align:right;
}

#parametreSiteBottom .boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 80px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

.overlay .overlay-ajoutElementChimique
{
    display: none;
    width:400px;
    position:fixed;
    margin:auto;
    top:100px;
    left:35%;
    background-color:white;
    text-align:left;
    border-radius: 2px;
    z-index:21;
    padding:15px 20px;
}

.overlay .overlay-ajoutElementChimique input
{
    width:95%;
    margin-bottom: 25px;
    border-bottom: #757575 1px solid;
    color: #656565;
    margin-top: 6px;
    font-weight: bold;
    font-size: 15px;
}


.overlay .overlay-ajoutElementChimique #ajoutElementChimiqueBottom
{
    text-align:right;
    margin-top:60px;
}


.overlay .overlay-ajoutElementChimique #ajoutElementChimiqueBottom p
{
    font-size:14px;
}

.overlay .overlay-ajoutElementChimique p.champsNombreInvalide2,
.overlay .overlay-ajoutElementChimique p.champsNombreInvalide3,
.overlay .overlay-ajoutElementChimique p.champsNombreInvalide4,
.overlay .overlay-ajoutElementChimique p.champsNombreInvalide5
{
    display:none;    
    color: #e90d3f;
    margin-top: -22px;
    margin-bottom: 20px;
}



.overlay .overlay-listeElementsChimiques
{
    display: none;
    width: 940px;
    position:fixed;
    margin:auto;
    top:150px;
    left:12%;
    background-color:white;
    text-align:left;
    border-radius: 5px 5px 0px 0px;
    z-index:21;
}
.overlay .overlay-listeElementsChimiques .overlay-title
{
    background-color: #e90d3f;
    color: white;
    padding: 15px 12px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 25px;
}

.overlay .overlay-listeElementsChimiques #listeElementsChimiques
{
    height: 360px;
    overflow-y: scroll;
}

.overlay-listeElementsChimiques #overlay-listeElementsChimiquesBottom 
{
    text-align: right;
    margin: 30px 30px 20px;
}

.overlay-listeElementsChimiques #overlay-listeElementsChimiquesBottom p.boutonRouge
{
    color: white;
    background-color: #e90d3f;
    width: 140px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.32);
}

.overlay-listeElementsChimiques div.table 
{
    border-collapse: collapse;
    width: 100%;
    display:table;
}

.overlay-listeElementsChimiques div.table div.tr:first-child 
{
    border-bottom: #e1e1e1 1px solid;
}

.overlay-listeElementsChimiques div.table div.tr:first-child div.th 
{
    padding:0px 8px 15px 7px;
    color: #757575;
    font-size: 14px;
    display: inline-block;
    text-align:center;
    font-size:15px;
}

.overlay-listeElementsChimiques div.table div.tr div.td 
{
    padding: 10px 10px 15px;
    font-size: 13px;
    color: #757575;
    display: inline-block;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(1),
.overlay-listeElementsChimiques div.table div.th:nth-child(1)
{
    width:150px;
    margin-right:20px;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(2),
.overlay-listeElementsChimiques div.table div.th:nth-child(2)
{
    width:100px;
    margin-right:20px;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(3),
.overlay-listeElementsChimiques div.table div.th:nth-child(3)
{
    width:90px;
    margin-right:20px;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(4),
.overlay-listeElementsChimiques div.table div.th:nth-child(4)
{
    width:90px;
    margin-right:20px;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(5),
.overlay-listeElementsChimiques div.table div.th:nth-child(5)
{
    width:90px;
    margin-right:20px;
}

.overlay-listeElementsChimiques div.table div.tr div.td:nth-child(6),
.overlay-listeElementsChimiques div.table div.th:nth-child(6)
{
    width:90px;
    margin-right:20px;
}


.overlay-listeElementsChimiques div.table div.tr div.td input
{
    width:100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.29);
    text-align: center;
    color: #b1b1b1;
    font-size:15px;
    padding-bottom:5px;
}


.overlay-listeElementsChimiques div.table div.tr div.td img
{
    cursor:pointer;
}


.overlay-double
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: rgba(0,0,0,0.5); 
    display:none;
}

.overlay-double .overlay-validationModification
{
    display: none;
    width: 350px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 45%;
    background-color: white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    z-index: 21;
    padding: 20px 30px;
}

.overlay-double .overlay-validationModification #validationModificationBottom
{
   margin-top:30px;
}

.overlay-double .overlay-validationModification #validationModificationBottom p.boutonVert
{
   margin-right: 17px;
}
.overlay-double .overlay-validationModification .modifElementChampsVide
{
    display: none;
    color: #e90d3f;
    margin-top: 20px;
}

.overlay-double .overlay-erreurNouveauNomElement
{
    display: none;
    width: 350px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 45%;
    background-color: white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    z-index: 21;
    padding: 20px 30px;
}

.overlay-double .overlay-erreurNouveauNomElement p.boutonGris
{
    margin-top: 25px;
}

.overlay-double .overlay-validationSupression
{
    display: none;
    width: 350px;
    position: fixed;
    margin: auto;
    top: 300px;
    left: 45%;
    background-color: white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    z-index: 21;
    padding: 20px 30px;
}

.overlay-double .overlay-validationSupression #validationSuppressionBottom
{
    margin-top: 25px;
}


 #myChart
{
    
        width: 40%;
        margin: 20px auto;
}


div#chargementPage
{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    width: 1033px;
    height: 100%;
    margin-left: -30px;
    z-index:99999;
    display:block;
}

#exploitants div#chargementPage
{
    margin-left: 0px;
}

#contacts div#chargementPage
{
    margin-left: 0px;
}


div#chargementPage img
{
    width: 3%;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 340px;
    left: 54%;
}

div#chargementPageVierge
{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    width: 1033px;
    height: 100%;
    margin-left: -30px;
    z-index:99999;
    display:none;
}


.ui-widget.ui-widget-content
{
    z-index: 99999 !important;
}